body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    color: #5b5b5b;
    line-height: 27px;
    background-color: #fff
}

.block {
    overflow: visible
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 27px
}

h1 {
    font-size: 36px;
    line-height: 54px
}

h2 {
    font-size: 31.5px;
    line-height: 54px
}

h3 {
    font-size: 27px;
    line-height: 27px
}

h4 {
    font-size: 22.5px;
    line-height: 27px
}

h5 {
    font-size: 18px;
    line-height: 27px
}

h6 {
    font-size: 18px;
    line-height: 27px
}

p, pre {
    margin-top: 0;
    margin-bottom: 27px
}

a, a:visited {
    color: #1aa7c7;
    -webkit-transition: color 300ms;
    transition: color 300ms;
    text-decoration: none
}

a:hover, a:focus {
    color: #000;
    -webkit-transition: color 300ms;
    transition: color 300ms;
    text-decoration: underline
}

a.active {
    color: #000;
    -webkit-transition: color 300ms;
    transition: color 300ms
}

a[target="_blank"]:after {
    display: inline-block;
    content: '\02197';
    margin-left: .25em
}

label {
    display: block
}

fieldset {
    border: none;
    padding: 0;
    margin: 0
}

input, textarea {
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ededed;
    border-radius: 5px;
    background-color: #fcfcfc
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(26, 167, 199, 0.75)
}

input[type="radio"], input[type="checkbox"] {
    display: inline-block;
    width: auto
}

input[type="radio"] + label, input[type="checkbox"] + label {
    display: inline-block
}

input[type="submit"], input[type="button"], input[type="reset"], button {
    display: inline-block;
    width: auto;
    cursor: pointer;
    padding: 5px 15px;
    background-image: -webkit-linear-gradient(top, #30c3e4 0%, #14819a 100%);
    background-image: linear-gradient(to bottom, #30c3e4 0%, #14819a 100%);
    color: #fff
}

input[disabled], textarea[disabled] {
    background-color: #ddd;
    color: #424242
}

form p.error {
    color: #f00;
    margin: 6.75px 0
}

input.error {
    border-color: #f00
}

.submit_container {
    margin-top: 27px;
    margin-bottom: 27px
}

.panel {
    border: 1px solid #ededed;
    border-radius: 5px;
    background-color: #fdfdfd;
    box-shadow: 0 0 5px #ededed;
    padding: 13.5px;
    margin-bottom: 27px
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
    border-bottom: 1px solid #ededed;
    background-color: #f0f0f0;
    margin: -13.5px -13.5px 13.5px;
    padding: 13.5px;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px
}

.panel > *:last-child {
    margin-bottom: 0
}

.info {
    position: relative;
    border: 1px solid #51b4ff;
    border-radius: 5px;
    background-color: #B7E0FF;
    box-shadow: 0 0 5px #B7E0FF;
    padding: 13.5px;
    padding-left: 33.5px;
    margin-bottom: 27px;
    color: #0068b7
}

.info:before {
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f138";
    position: absolute;
    width: 20px;
    text-align: center;
    top: 15.5px;
    left: 9px
}

.info > *:last-child {
    margin-bottom: 0
}

.info:before {
    content: "\f05a"
}

.warning {
    position: relative;
    border: 1px solid #ffcf3c;
    border-radius: 5px;
    background-color: #FFE8A2;
    box-shadow: 0 0 5px #FFE8A2;
    padding: 13.5px;
    padding-left: 33.5px;
    margin-bottom: 27px;
    color: #a27a00
}

.warning:before {
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f138";
    position: absolute;
    width: 20px;
    text-align: center;
    top: 15.5px;
    left: 9px
}

.warning > *:last-child {
    margin-bottom: 0
}

.warning:before {
    content: "\f06a"
}

.danger {
    position: relative;
    border: 1px solid #ff5151;
    border-radius: 5px;
    background-color: #FFB7B7;
    box-shadow: 0 0 5px #FFB7B7;
    padding: 13.5px;
    padding-left: 33.5px;
    margin-bottom: 27px;
    color: #b70000
}

.danger:before {
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f138";
    position: absolute;
    width: 20px;
    text-align: center;
    top: 15.5px;
    left: 9px
}

.danger > *:last-child {
    margin-bottom: 0
}

.danger:before {
    content: "\f071"
}

.mod_navigation ul.level_1 {
    list-style: none;
    margin: 0;
    padding: 27px 0
}

.mod_navigation ul.level_1 > li {
    margin: 0;
    padding: 0
}

.mod_navigation ul.level_1 > li > a, .mod_navigation ul.level_1 > li > span {
    display: block;
    position: relative;
    padding: 8px 16px
}

.mod_navigation ul.level_1 > li > a:hover, .mod_navigation ul.level_1 > li > a:focus, .mod_navigation ul.level_1 > li > a.trail, .mod_navigation ul.level_1 > li > span {
    background-color: #e0e0e0;
    border-radius: 100px 0 0 100px
}

.mod_navigation ul.level_1 > li > span:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    border-width: 22px;
    border-style: solid solid solid none;
    border-color: transparent #fff transparent transparent
}

.mod_navigation ul.level_1 > li + li {
    margin-top: 14px
}

.mod_navigation ul.level_2 {
    list-style: none;
    margin: 0;
    padding: 14px 0 27px 14px;
    font-size: 16px;
    line-height: 23px
}

.mod_navigation ul.level_2 > li {
    margin: 0;
    padding: 0
}

.mod_navigation ul.level_2 > li > a, .mod_navigation ul.level_2 > li > span {
    display: block;
    position: relative;
    padding: 6px 14px
}

.mod_navigation ul.level_2 > li > a:hover, .mod_navigation ul.level_2 > li > a:focus, .mod_navigation ul.level_2 > li > a.trail, .mod_navigation ul.level_2 > li > span {
    background-color: #e0e0e0;
    border-radius: 100px 0 0 100px
}

.mod_navigation ul.level_2 > li > span:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    border-width: 18px;
    border-style: solid solid solid none;
    border-color: transparent #fff transparent transparent
}

.mod_navigation ul.level_2 > li + li {
    margin-top: 12px
}

#wrapper {
    background-image: -webkit-linear-gradient(left, #ededed 0, #ededed 50%, #fff 50%, #fff 100%);
    background-image: linear-gradient(to right, #ededed 0, #ededed 50%, #fff 50%, #fff 100%)
}

#header > .inside, #container, #footer > .inside {
    max-width: 960px;
    box-sizing: border-box;
    margin: 0 auto
}

#header {
    background-image: -webkit-linear-gradient(top, #5e5e5e 0, #2a2a2a 100%);
    background-image: linear-gradient(to bottom, #5e5e5e 0, #2a2a2a 100%);
    padding: 20px;
    color: #fff;
    font-size: 54px
}

#header img {
    vertical-align: middle
}

#header strong {
    font-family: 'Euphoria Script', cursive
}

#container {
    background-image: -webkit-linear-gradient(left, #ededed 0px, #ededed 219px, #e0e0e0 230px, #fff 230px);
    background-image: linear-gradient(to right, #ededed 0px, #ededed 219px, #e0e0e0 230px, #fff 230px)
}

#main > .inside {
    padding: 27px
}

#footer {
    background-image: url("../images/footer.jpg");
    padding: 20px;
    color: #fff;
    font-size: 16.2px
}

#footer a:hover, #footer a:focus {
    color: #fff
}

#footer img {
    float: right;
    margin-left: 36px
}
