.info {
  @include content-box(#B7E0FF);

  &:before {
    content: "\f05a";
  }
}

.warning {
  @include content-box(#FFE8A2);

  &:before {
    content: "\f06a";
  }
}

.danger {
  @include content-box(#FFB7B7);

  &:before {
    content: "\f071";
  }
}
