label {
  display: block;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input, textarea {
  display: block;
  width: 100%;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ededed;
  border-radius: 5px;
  background-color: #fcfcfc;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba($link-color, .75);
  }
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: auto;

  + label {
    display: inline-block;
  }
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button {
  display: inline-block;
  width: auto;
  cursor: pointer;
  padding: 5px 15px;
  background-image: linear-gradient(to bottom, lighten($link-color, 10%) 0%, darken($link-color, 10%) 100%);
  color: #fff;
}

input[disabled], textarea[disabled] {
  background-color: #ddd;
  color: darken($text-color, 10%);
}

form p.error {
  color: #f00;
  margin: $line-height / 4 0;
}

input.error {
  border-color: #f00;
}

.submit_container {
  margin-top: $line-height;
  margin-bottom: $line-height;
}
