#wrapper {
  background-image: linear-gradient(to right, #ededed 0, #ededed 50%, #fff 50%, #fff 100%);
}

#header > .inside,
#container,
#footer > .inside {
  max-width: 960px;
  box-sizing: border-box;
  margin: 0 auto;
}

#header {
  background-image: linear-gradient(to bottom, #5e5e5e 0, #2a2a2a 100%);
  padding: 20px;
  color: #fff;
  font-size: $font-size * 3;

  img {
    vertical-align: middle;
  }
  strong {
    font-family: 'Euphoria Script', cursive;
  }
}

#container {
  background-image: linear-gradient(to right, #ededed 0px, #ededed 219px, #e0e0e0 230px, #fff 230px);
}

#main > .inside {
  padding: $line-height;
}

#footer {
  background-image: url("../images/footer.jpg");
  padding: 20px;
  color: #fff;
  font-size: $font-size * .9;

  a {
    &:hover, &:focus {
      color: #fff;
    }
  }
  img {
    float: right;
    margin-left: $font-size * 2;
  }
}
