@mixin content-box($color) {
  position: relative;
  border: 1px solid darken($color, 20%);
  border-radius: 5px;
  background-color: $color;
  box-shadow: 0 0 5px $color;
  padding: $line-height / 2;
  padding-left: ($line-height / 2) + 20px;
  margin-bottom: $line-height;
  color: darken($color, 50%);

  &:before {
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    line-height: $line-height;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\f138";
    position: absolute;
    width: 20px;
    text-align: center;
    top: $line-height / 2 + 2;
    left: $line-height / 3;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}
