.mod_navigation {
  ul.level_1 {
    list-style: none;
    margin: 0;
    padding: $line-height 0;

    > li {
      margin: 0;
      padding: 0;

      > a, > span {
        display: block;
        position: relative;
        padding: 8px 16px;
      }
      > a:hover, > a:focus, > a.trail, > span {
        background-color: #e0e0e0;
        border-radius: 100px 0 0 100px;
      }
      > span {
        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          right: 0;
          top: 0;
          border-width: ceil(($line-height + 16px) / 2);
          border-style: solid solid solid none;
          border-color: transparent #fff transparent transparent;
        }
      }
      + li {
        margin-top: ceil($line-height / 2);
      }
    }
  }

  ul.level_2 {
    list-style: none;
    margin: 0;
    padding: ceil($line-height / 2) 0 $line-height ceil($line-height / 2);
    font-size: ceil($font-size * .85);
    line-height: ceil($line-height * .85);

    > li {
      margin: 0;
      padding: 0;

      > a, > span {
        display: block;
        position: relative;
        padding: 6px 14px;
      }
      > a:hover, > a:focus, > a.trail, > span {
        background-color: #e0e0e0;
        border-radius: 100px 0 0 100px;
      }
      > span {
        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          right: 0;
          top: 0;
          border-width: ceil((ceil($line-height * .85) + 12px) / 2);
          border-style: solid solid solid none;
          border-color: transparent #fff transparent transparent;
        }
      }
      + li {
        margin-top: ceil($line-height * .85 / 2);
      }
    }
  }
}
