.panel {
  border: 1px solid #ededed;
  border-radius: 5px;
  background-color: #fdfdfd;
  box-shadow: 0 0 5px #ededed;
  padding: $line-height / 2;
  margin-bottom: $line-height;

  h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #ededed;
    background-color: #f0f0f0;
    margin: (-$line-height / 2) (-$line-height / 2) ($line-height / 2);
    padding: ($line-height / 2);
    font-size: $font-size;
    font-weight: bold;
    line-height: $line-height;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}
