body {
  font-family: $font-family;
  font-size: $font-size;
  color: $text-color;
  line-height: $line-height;
  background-color: #fff;
}

.block {
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $line-height;
}

h1 {
  font-size: $font-size * 2;
  line-height: $font-size * 3;
}

h2 {
  font-size: $font-size * 1.75;
  line-height: $font-size * 3;
}

h3 {
  font-size: $font-size * 1.5;
  line-height: $font-size * 1.5;
}

h4 {
  font-size: $font-size * 1.25;
  line-height: $font-size * 1.5;
}

h5 {
  font-size: $font-size * 1;
  line-height: $font-size * 1.5;
}

h6 {
  font-size: $font-size * 1;
  line-height: $font-size * 1.5;
}

p, pre {
  margin-top: 0;
  margin-bottom: $line-height;
}

a {
  &, &:visited {
    color: $link-color;
    transition: color 300ms;
    text-decoration: none;
  }
  &:hover, &:focus {
    color: $link-hover-color;
    transition: color 300ms;
    text-decoration: underline;
  }
  &.active {
    color: $link-current-color;
    transition: color 300ms;
  }
  &[target="_blank"]:after {
    display: inline-block;
    content: '\02197';
    margin-left: .25em;
  }
}
