$font-family: 'Source Sans Pro', sans-serif;
$font-size: 18px;

$text-color: #5b5b5b;

$line-height: $font-size * 1.5;

$link-color: #1aa7c7;
$link-hover-color: darken($link-color, 50%);
$link-current-color: darken($link-color, 50%);

@import "mixins";
@import "scaffolding";
@import "form";
@import "panel";
@import "boxes";
@import "navigation";
@import "layout";
